body {
  background: #FFF;
  color: #000;
  font-family: Fira Sans, sans-serif;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

img {
	width: 300px;
	border-radius: 4px;
	box-shadow: rgb(0 0 0 / 13%) 0px 0px 10px;
}
